[Unit]
Description=service
After=network.target

[Service]
Type=simple
Environment=RUST_LOG=error
EnvironmentFile=%h/.infisicalenv
ExecStart=%h/.config/ss/run.sh
WorkingDirectory=%h/.config/ss
Restart=on-failure
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
[Install]
WantedBy=default.target
