[Unit]
Description=service
After=network.target

[Service]
Type=simple
Environment=RUST_LOG=error
EnvironmentFile=%s/.infisicalenv
ExecStart=%h/.config/ss/up.sh
Restart=on-failure
WorkingDirectory=%h/secret/ss
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
StandardOutput=null
[Install]
WantedBy=default.target
