# ignore everything
*

node_modules
.zshrc
# except these
!.gitignore
!.prettierrc
!.default-npm-packages
!.default-gems
!ansible.cfg
*.retry
.config/deploy/ansible/roles/external
!.gnupg
.gnupg/**
!.gnupg/gpg-agent.conf
!README.md
!nix/
!nix/**
!deploy/
!deploy/**
!.sops.yaml
!Makefile
!.meta
!.meta/**
!bin
!bin/**
!Brewfile
!.librewolf
!.librewolf/**
# liberally include everything in our .config
!.config
!.config/**

# and then ignore things we don't want
.DS_Store
!flake.nix
!flake.lock
.config/raycast
.config/swiftpm
.config/uv
.config/cagent
.config/bin/**
.config/kraftkit/**
.config/simple-update-notifier/**
.config/clash/**
.config/mihomo/**
!.config/clash/config_template.yml
!.config/clash/config_linux_add.yml
!.config/clash/*.sh
.config/siyuan/**
.config/flameshot/**
.config/rio/**
.config/joplin-desktop/**
.config/clash.meta/**
.config/rclone/**
.config/caddy/autosave.json
.config/.wrangler
.config/qBittorrent
.config/zed
.config/stripe
.config/hcp
.config/configstore
.config/fontconfig
.config/direnv
.config/dnsproxy/debug.log
.config/gcloud
.config/systemd/user/default.target.wants
.config/gh/hosts.yml
.config/gh/state.yml
.config/github-copilot
.config/iterm2/
.config/nixpkgs/**/result
.config/nvim/.netrwhist
.config/nvim/autoload
.config/nvim/tmp/bak/*~
.config/nvim/tmp/swp
.config/nvim/tmp/undo
.config/op/*
.config/ssh/keys/*.pem
.config/tmux/plugins
.config/wslu
bin/**

# work things
.config/sh/env.work
.config/sh/functions.work
.config/ssh/config.d/work
.config/git/work
bin/work/**

!.config/fish
.config/fish/**
