# ignore everything
*

# except these
!.gitignore
!.prettierrc
!README.md
!envs/
!envs/**
!.sops.yaml
!Makefile
!.meta
!.meta/**
!bin
!bin/**
!Brewfile
!.zshrc
!.librewolf
!.librewolf/**
.config/caddy/autosave.json

# liberally include everything in our .config
!.config
!.config/**

# and then ignore things we don't want
.DS_Store
.config/raycast
.config/clash/**
!.config/clash/config_template.yml
!.config/clash/config_linux_add.yml
!.config/clash/*.sh
.config/.wrangler
.config/hcp
.config/configstore
.config/fontconfig
.config/direnv
.config/dnsproxy/debug.log
.config/gcloud
.config/systemd/user/default.target.wants
.config/gh/hosts.yml
.config/gh/state.yml
.config/github-copilot
.config/iterm2/
.config/nixpkgs/**/result
.config/nvim/.netrwhist
.config/nvim/autoload
.config/nvim/tmp/bak/*~
.config/nvim/tmp/swp
.config/nvim/tmp/undo
.config/op/*
.config/ssh/keys/*.pem
.config/tmux/plugins
.config/wslu

# work things
.config/sh/env.work
.config/sh/functions.work
.config/ssh/config.d/work
.config/git/work
bin/work/**
