tun:
  enable: true
  stack: system # or gvisor
  auto-route: true # auto set global route
  auto-detect-interface: true # conflict with interface-name

hosts:
  "*.test": 192.168.31.2

external-ui: ui
profile:
  # Store the `select` results in $HOME/.config/clash/.cache
  # set false If you don't want this behavior
  # when two different configurations have groups with the same name, the selected values are shared
  store-selected: true

  # persistence fakeip
  store-fake-ip: true

dns:
  enable: true
  listen: :53
  ipv6: true # when the false, response to AAAA questions will be empty
  default-nameserver:
    - 192.168.31.1
    - 119.29.29.29
  enhanced-mode: fake-ip # or redir-host (not recommended)
  # fake-ip-range: 198.18.0.1/16 # Fake IP addresses pool CIDR
  # use-hosts: true # lookup hosts and return IP record

  # Hostnames in this list will not be resolved with fake IPs
  # i.e. questions to these domain names will always be answered with their
  # real IP addresses
  fake-ip-filter:
    - "*.lan"
    - "*.local"
    - "*.test"
    - "*.local.owenyoung.com"
    - "*.local.tonormal.com"

  # Supports UDP, TCP, DoT, DoH. You can specify the port to connect to.
  # All DNS questions are sent directly to the nameserver, without proxies
  # involved. Clash answers the DNS question with the first result gathered.
  nameserver:
    # - "[2402:4e00::]:53"
    - 192.168.31.1
    - tls://dot.pub
    - https://doh.pub/dns-query # tencent
    - tls://dns.alidns.com
    - https://dns.alidns.com/dns-query
    - 119.29.29.29
    # - 114.114.114.114 # default value
    # - 8.8.8.8 # default value
    # - tls://dns.rubyfish.cn:853 # DNS over TLS
    # - https://1.1.1.1/dns-query # DNS over HTTPS
    # - dhcp://en0 # dns from dhcp
