http://clash.test {
   redir / /ui/
   reverse_proxy 127.0.0.1:9090
}

http://dae.test {
   reverse_proxy 127.0.0.1:2023
}

http://ad.test {
      reverse_proxy 127.0.0.1:3000
}
http://huawei.test {
	reverse_proxy 192.168.101.1:80
}

http://q.test {
    reverse_proxy 127.0.0.1:10002
}

http://o.test {
	reverse_proxy 127.0.0.1:10004
}

test2.localhost:80 {
  respond "Hello"
}

test.localhost:80 {

    reverse_proxy /ws/ v2ray-service:80 {
        header_up X-Forwarded-For {remote_host}
    }
    # 对根路径返回 "Hello World"
    @notWs {
        not path /ws/*
    }
    respond @notWs "Hello World2, Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2Hello World2" 200
    log {
        output stdout
        format console
    }

}

