http://clash.test {
   redir / /ui/
   reverse_proxy 127.0.0.1:9090
}

http://dae.test {
   reverse_proxy 127.0.0.1:2023
}
http://ad.test {
      reverse_proxy 127.0.0.1:3000
}
http://huawei.test {
	reverse_proxy 192.168.101.1:80
}

http://q.test {
    reverse_proxy 127.0.0.1:10002
}

http://o.test {
	reverse_proxy 127.0.0.1:10004
}
