<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.owenyoung.all-in-one-alfred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4B3A71E2-90C8-4C8B-858F-D8CDBBF26CFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF036634-2C70-4EB9-96D0-BA404E3B5A39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>787D7E0A-A358-4D87-B730-CB84D4925653</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60559819-5D23-4156-8252-18CBAC9EDE17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAA51207-26C9-41F4-89CB-0C0954772F29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21635651-08E7-47A4-9EE6-6E3FB8069FD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F7CD88F4-000C-4EF5-8ACA-AC4A5B5A3C25</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E4A98DC0-6A53-4FE3-B7C6-66E167930386</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF036634-2C70-4EB9-96D0-BA404E3B5A39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4B41742-B137-4767-91DB-55BC7B710472</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AAA51207-26C9-41F4-89CB-0C0954772F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4B41742-B137-4767-91DB-55BC7B710472</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>787D7E0A-A358-4D87-B730-CB84D4925653</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Owen</string>
	<key>description</key>
	<string>all custom workflow for owen</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>All in one for Owen</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>C4B41742-B137-4767-91DB-55BC7B710472</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>787D7E0A-A358-4D87-B730-CB84D4925653</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#!/bin/bash

SCRIPT_PATH="translate.mjs" # Change this to your script's path

# List of common locations where Node.js might be installed
NODE_PATHS=(
	"$HOME/.nix-profile/bin/node"
	"/usr/local/bin/node"
	"/usr/bin/node"
	"/opt/local/bin/node"
)

# Loop through the paths and use the first one that exists
for node in "${NODE_PATHS[@]}"; do
	if [ -f "$node" ]; then
		"$node" $SCRIPT_PATH "$@"
		exit
	fi
done

echo "Node.js not found. Please install it or check your paths."
exit 1
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>翻译中...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BF036634-2C70-4EB9-96D0-BA404E3B5A39</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>自动识别单词和句子</string>
				<key>text</key>
				<string>中英互译</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>4B3A71E2-90C8-4C8B-858F-D8CDBBF26CFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>已复制到剪贴板</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>60559819-5D23-4156-8252-18CBAC9EDE17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>21635651-08E7-47A4-9EE6-6E3FB8069FD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>usevoiceover</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.speak</string>
			<key>uid</key>
			<string>E4A98DC0-6A53-4FE3-B7C6-66E167930386</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>parsing...</string>
				<key>script</key>
				<string>#!/bin/bash

SCRIPT_PATH="time.mjs" # Change this to your script's path

# List of common locations where Node.js might be installed
NODE_PATHS=(
	"$HOME/.nix-profile/bin/node"
	"/usr/local/bin/node"
	"/usr/bin/node"
	"/opt/local/bin/node"
)

# Loop through the paths and use the first one that exists
for node in "${NODE_PATHS[@]}"; do
	if [ -f "$node" ]; then
		"$node" $SCRIPT_PATH "$@"
		exit
	fi
done

echo "Node.js not found. Please install it or check your paths."
exit 1
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert timestamp</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>40D87239-5DBD-4052-9EEA-48CE86454C1C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>word</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>F7CD88F4-000C-4EF5-8ACA-AC4A5B5A3C25</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AAA51207-26C9-41F4-89CB-0C0954772F29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Owen's tool for alfred</string>
	<key>uidata</key>
	<dict>
		<key>21635651-08E7-47A4-9EE6-6E3FB8069FD3</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>40D87239-5DBD-4052-9EEA-48CE86454C1C</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>4B3A71E2-90C8-4C8B-858F-D8CDBBF26CFF</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>60559819-5D23-4156-8252-18CBAC9EDE17</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>787D7E0A-A358-4D87-B730-CB84D4925653</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>AAA51207-26C9-41F4-89CB-0C0954772F29</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>BF036634-2C70-4EB9-96D0-BA404E3B5A39</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>C4B41742-B137-4767-91DB-55BC7B710472</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E4A98DC0-6A53-4FE3-B7C6-66E167930386</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>pro api</string>
			<key>label</key>
			<string>Deepl Auth Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DEEPL_AUTH_KEY</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.owenyoung</string>
</dict>
</plist>
