<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.owenyoung.all-in-one-alfred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>19239983-96F5-4262-AC24-4372128E5DDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83DF5A31-F828-4C5E-A000-DDFC57AB0E7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EA22923-62BF-4342-81A0-F0681DD050F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4E6A95E-3DEF-45AD-8E82-3B5CF849E58B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AFE07D7-01EE-40BE-A825-9C9DF52C3F2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9D1B90B-2DAB-4231-B0B7-CD21BF050BED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D684B33-0345-42E5-90E0-B0865C18E9F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4A98DC0-6A53-4FE3-B7C6-66E167930386</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BE250A49-3CF5-4F3E-A212-5333D84166B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40D87239-5DBD-4052-9EEA-48CE86454C1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F06E6F3F-E75F-4F49-822C-05A5F6B3ECA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B3A71E2-90C8-4C8B-858F-D8CDBBF26CFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D684B33-0345-42E5-90E0-B0865C18E9F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8D772A1-2E9B-4C89-A7D7-35BCD079CF23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60559819-5D23-4156-8252-18CBAC9EDE17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE250A49-3CF5-4F3E-A212-5333D84166B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAF9BD18-AA88-4D39-AC66-916A9A319F10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4A98DC0-6A53-4FE3-B7C6-66E167930386</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8D772A1-2E9B-4C89-A7D7-35BCD079CF23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Owen</string>
	<key>description</key>
	<string>all custom workflow for owen</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>All in one for Owen</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>自动识别单词和句子</string>
				<key>text</key>
				<string>中英互译</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>4B3A71E2-90C8-4C8B-858F-D8CDBBF26CFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>translated</string>
				<key>inputfile</key>
				<string>translate_textview</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>3D684B33-0345-42E5-90E0-B0865C18E9F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:translation}</string>
				<key>title</key>
				<string>已复制到剪贴板</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>60559819-5D23-4156-8252-18CBAC9EDE17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>parsing...</string>
				<key>script</key>
				<string>#!/bin/bash

SCRIPT_PATH="time.mjs" # Change this to your script's path

# List of common locations where Node.js might be installed
NODE_PATHS=(
	"$HOME/.nix-profile/bin/node"
	"/usr/local/bin/node"
	"/usr/bin/node"
	"/opt/local/bin/node"
)

# Loop through the paths and use the first one that exists
for node in "${NODE_PATHS[@]}"; do
	if [ -f "$node" ]; then
		"$node" $SCRIPT_PATH "$@"
		exit
	fi
done

echo "Node.js not found. Please install it or check your paths."
exit 1
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert timestamp</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>40D87239-5DBD-4052-9EEA-48CE86454C1C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F06E6F3F-E75F-4F49-822C-05A5F6B3ECA8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>{var:translation}</string>
				<key>usevoiceover</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.speak</string>
			<key>uid</key>
			<string>E4A98DC0-6A53-4FE3-B7C6-66E167930386</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B8D772A1-2E9B-4C89-A7D7-35BCD079CF23</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jj</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>parsing...</string>
				<key>script</key>
				<string>#!/bin/bash

SCRIPT_PATH="string2json.mjs" # Change this to your script's path

# List of common locations where Node.js might be installed
NODE_PATHS=(
	"$HOME/.nix-profile/bin/node"
	"/usr/local/bin/node"
	"/usr/bin/node"
	"/opt/local/bin/node"
)

# Loop through the paths and use the first one that exists
for node in "${NODE_PATHS[@]}"; do
	if [ -f "$node" ]; then
		"$node" $SCRIPT_PATH "$@"
		exit
	fi
done

echo "Node.js not found. Please install it or check your paths."
exit 1
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>string to json string</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3AFE07D7-01EE-40BE-A825-9C9DF52C3F2A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A9D1B90B-2DAB-4231-B0B7-CD21BF050BED</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:openai_translation}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BE250A49-3CF5-4F3E-A212-5333D84166B1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>83DF5A31-F828-4C5E-A000-DDFC57AB0E7A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:openai_translation}</string>
				<key>title</key>
				<string>已复制到剪贴板</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CAF9BD18-AA88-4D39-AC66-916A9A319F10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>parsing...</string>
				<key>script</key>
				<string>#!/bin/bash

SCRIPT_PATH="json2string.mjs" # Change this to your script's path

# List of common locations where Node.js might be installed
NODE_PATHS=(
	"$HOME/.nix-profile/bin/node"
	"/usr/local/bin/node"
	"/usr/bin/node"
	"/opt/local/bin/node"
)

# Loop through the paths and use the first one that exists
for node in "${NODE_PATHS[@]}"; do
	if [ -f "$node" ]; then
		"$node" $SCRIPT_PATH "$@"
		exit
	fi
done

echo "Node.js not found. Please install it or check your paths."
exit 1
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>json string to string</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>19239983-96F5-4262-AC24-4372128E5DDC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E4E6A95E-3DEF-45AD-8E82-3B5CF849E58B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ll</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>parsing...</string>
				<key>script</key>
				<string>#!/bin/bash

SCRIPT_PATH="length.mjs" # Change this to your script's path

# List of common locations where Node.js might be installed
NODE_PATHS=(
	"$HOME/.nix-profile/bin/node"
	"/usr/local/bin/node"
	"/usr/bin/node"
	"/opt/local/bin/node"
)

# Loop through the paths and use the first one that exists
for node in "${NODE_PATHS[@]}"; do
	if [ -f "$node" ]; then
		"$node" $SCRIPT_PATH "$@"
		exit
	fi
done

echo "Node.js not found. Please install it or check your paths."
exit 1
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>length</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1EA22923-62BF-4342-81A0-F0681DD050F2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Owen's tool for alfred</string>
	<key>uidata</key>
	<dict>
		<key>19239983-96F5-4262-AC24-4372128E5DDC</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>1EA22923-62BF-4342-81A0-F0681DD050F2</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>3AFE07D7-01EE-40BE-A825-9C9DF52C3F2A</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>3D684B33-0345-42E5-90E0-B0865C18E9F3</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>40D87239-5DBD-4052-9EEA-48CE86454C1C</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>4B3A71E2-90C8-4C8B-858F-D8CDBBF26CFF</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>60559819-5D23-4156-8252-18CBAC9EDE17</key>
		<dict>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>83DF5A31-F828-4C5E-A000-DDFC57AB0E7A</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>A9D1B90B-2DAB-4231-B0B7-CD21BF050BED</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>B8D772A1-2E9B-4C89-A7D7-35BCD079CF23</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>BE250A49-3CF5-4F3E-A212-5333D84166B1</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>CAF9BD18-AA88-4D39-AC66-916A9A319F10</key>
		<dict>
			<key>xpos</key>
			<real>945</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>E4A98DC0-6A53-4FE3-B7C6-66E167930386</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>E4E6A95E-3DEF-45AD-8E82-3B5CF849E58B</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>F06E6F3F-E75F-4F49-822C-05A5F6B3ECA8</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>pro api</string>
			<key>label</key>
			<string>Deepl Auth Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DEEPL_AUTH_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>OPENAI_API_KEY</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>OPENAI_API_KEY</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.owenyoung</string>
</dict>
</plist>
